---
layout: default
---

<!-- Start HeaderWrap -->
<header class="Header-Wrapper2">
  <!--Start HomePageBgColor-->
  <div class="Header-Overlay">
    {% include topmenu.html %}

    <!--Start Container-->
    <div class="container">

      <!--Start Row-->
      <div class="row clearfix">

        <h1><a href="index.html#">Sarah <br/>& Joseph</a></h1>

        <!-- Start SubHeading -->
        <div class="SubHeading">

          <!-- Start SubHeading-inner -->
          <div class="SubHeading-inner">

            <h2><span>are getting married</span></h2>

          </div>
          <!-- End SubHeading-inner -->

        </div>
        <!-- End SubHeading -->

        <p class="Date">31st January, 2016</p>

      </div>
      <!--End Row -->
    </div>
    <!--End Container -->
  </div>
  <!-- End HomePageBgColor -->
</header>
<!-- End HeaderWrap -->

{% include profile.html %}

{% include story.html %}

{% include schedule.html %}


{% include rsvp.html %}

{% include photo.html %}

  

  

