<!-- Start FooterWrap -->
<footer class="FooterWrap">
  <!--Start Container-->
  <div class="container">
    <!--Start Row-->
    <div class="row clearfix ">

      <!-- Start Footer-Logo -->
      <div class="Footer-Logo">
        <h1><a href="home-default-template.html#">Sarah<br/> & Joseph</a></h1>
      </div>
      <!-- End Footer-Logo -->

      <!-- Start Footer-Link -->
      <div class="Footer-Link">
        <ul>
          <li><a href="home-default-template.html">Home</a></li>
          <li><a href="About.html">About</a> </li>
          <li><a href="storypage.html">Our Story</a></li>
          <li><a href="Guestbook.html">Guest Book</a></li>
          <li><a href="main-ceremony.html">Main Ceremony</a></li>
          <li><a href="wedding-party.html">Wedding party</a></li>
          <li><a href="Gallery.html">Gallery </a></li>
          <li><a href="contactus.html">Contact</a></li>

        </ul>
      </div>
      <!-- End Footer-Link -->

      <!-- Start Footer-Copyright -->
      <div class="Footer-Copyright">
        <span class="CopyRightText">All images Copyright © 2016</span>
        <!--End CopyRightText-->
        <span class="CopyRightEmail"> www.risinghues.com</span>
        <!--End CopyRightEmail-->
      </div>
      <!-- End Footer-Copyright -->

    </div>
    <!--End Row -->
  </div>
  <!--End Container -->
</footer>
<!-- End FooterWrap -->