<!-- Start PhotoAlbumWrap -->
<article class="PhotoAlbumWrap">
  <!--Start Container-->
  <div class="container">
    <!--Start Row-->
    <div class="row clearfix ">

      <h2>Selected Photos</h2>
      <h3>Share your memories here</h3>

      <div class="Photo-Album-Inner clearfix col-lg-8 col-md-8 col-sm-10 col-xs-11 col-centered">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Gallery-Item">
          <a href="img/Gallery-large-Item1.jpg" data-lightbox="wedding-gallery">
            <img src="img/Gallery-Item1.jpg" data-no-retina class="img-responsive" alt="" />
          </a>
        </div>
        <!-- End Gallery-Item -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Gallery-Item">
          <a href="img/Gallery-large-Item2.jpg" data-lightbox="wedding-gallery">
            <img src="img/Gallery-Item2.jpg" data-no-retina alt="" class="img-responsive">
          </a>
        </div>
        <!-- End Gallery-Item -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Gallery-Item">
          <a href="img/Gallery-large-Item3.jpg" data-lightbox="wedding-gallery">
            <img src="img/Gallery-Item3.jpg" data-no-retina alt="" class="img-responsive">
          </a>
        </div>
        <!-- End Gallery-Item -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Gallery-Item">
          <a href="img/Gallery-large-Item4.jpg" data-lightbox="wedding-gallery">
            <img src="img/Gallery-Item4.jpg" data-no-retina alt="" class="img-responsive">
          </a>
        </div>



        <div class="clearfix"></div>

        <!-- Start PhotoAlbumBtnDiv -->
        <div class="PhotoAlbumBtnDiv">
          <a href="Gallery.html" class="btn btn-default PhotoAlbumBtn">Visit Photo gallieries</a>
        </div>
        <!-- End PhotoAlbumBtnDiv -->

        <!-- Start Patterns-Img -->
        <div class="Patterns-Img wow fadeInUp" data-wow-duration="3s"><i class="icon-pattern icon-pattern-color"></i>
        </div>
        <!-- End Patterns-Img -->

      </div>
      <!-- End Photo-Album-Inner -->


    </div>
    <!--End Row -->
  </div>
  <!--End Container -->
</article>
<!-- End PhotoAlbumWrap -->