<!-- Start Profile -->
<article class="Profile">
  <!--Start Container-->
  <div class="container">
    <!--Start Row-->
    <div class="row clearfix">
      <!--Start ProfileDetails-->
      <div class="Bride-Groom-Details clearfix col-lg-11 col-md-12 col-sm-12 col-xs-11 col-centered">
        <!--Start ProfileDetailsLeft-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 Bride-Details text-center">

          <!--Start ProfileDetailsImg-->
          <div class="Bride-Groom-Avatar">
            <img src="img/bride.jpg" alt="" class="img-responsive col-centered Bride-Groom-Avatar-border" />
          </div>
          <!--End ProfileDetailsImg-->

          <h2>Sarah Claire</h2>

          <h3 class="text-center">Lovely BRide</h3>

          <!--Start ProfileDetaiText-->
          <p class="Bride-Groom-Desc col-lg-8 col-md-9 col-centered">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet. </p>
          <!--End ProfileDetaiText-->

          <div class="ProfileSocialIcon">
            <ul>
              <li><a href="home-default-template.html#"><i class="icon-facebook"></i></a>
              </li>
              <li><a href="home-default-template.html#"><i class="icon-twitter"></i></a>
              </li>
              <li><a href="home-default-template.html#"><i class="icon-dribbble"></i></a>
              </li>
            </ul>
          </div>
          <!-- End ProfileSocialIcon -->

          <!-- Start ProfileBtn -->
          <a href="About.html" class="btn btn-default ProfileBtn">Meet Sarah</a>
          <!-- End ProfileBtn -->

        </div>
        <!--End ProfileDetailsLeft-->

        <!--Start ProfileDetailsRight-->
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 Groom-Details text-center">

          <!--Start ProfileDetailsImg-->
          <div class="Bride-Groom-Avatar">
            <img src="img/groom.jpg" alt="" class="img-responsive col-centered Bride-Groom-Avatar-border" />
          </div>
          <!--End ProfileDetailsImg-->

          <h2>Joseph Lane</h2>

          <h3 class="text-center">The  Groom</h3>

          <!--Start ProfileDetaiText-->
          <p class="Bride-Groom-Desc col-lg-10 col-md-9 col-centered">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet. </p>
          <!--End ProfileDetaiText-->

          <div class="ProfileSocialIcon">
            <ul>
              <li><a href="home-default-template.html#"><i class="icon-facebook"></i></a>
              </li>
              <li><a href="home-default-template.html#"><i class="icon-twitter"></i></a>
              </li>
              <li><a href="home-default-template.html#"><i class="icon-dribbble"></i></a>
              </li>
            </ul>
          </div>
          <!-- End ProfileSocialIcon -->

          <!-- Start ProfileBtn -->
          <a href="About.html" class="btn btn-default ProfileBtn">Meet Joseph</a>
          <!-- End ProfileBtn -->

        </div>
        <!--End ProfileDetailsRight-->


      </div>
      <!--End ProfileDetails-->

      <!-- Start BuddiesContainer -->
      <div class="BuddiesContainer clearfix ">

        <h2>Groomsmen & Bridesmaids</h2>
        <h3>our awesome buddies</h3>

        <!-- Start Buddies -->
        <div class="Buddies clearfix">
          <!-- Start Buddie -->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Buddie">
            <!-- Start BuddieImg -->
            <div class="BuddieImgContainer">
              <img src="img/BuddieImg1.jpg" alt="" class="BuddieImg border-radius img-responsive">
            </div>
            <!-- End BuddieImg -->

            <h2>Edward Price</h2>
            <h3>BestMan</h3>

          </div>
          <!-- End Buddie -->

          <!-- Start Buddie -->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Buddie">
            <!-- Start BuddieImg -->
            <div class="BuddieImgContainer">
              <img src="img/BuddieImg2.jpg" alt="" class="BuddieImg border-radius img-responsive">
            </div>
            <!-- End BuddieImg -->

            <h2>Dylan Freeman</h2>
            <h3>Groom’s partner</h3>

          </div>
          <!-- End Buddie -->

          <!-- Start Buddie -->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Buddie">
            <!-- Start BuddieImg -->
            <div class="BuddieImgContainer">
              <img src="img/BuddieImg3.jpg" alt="" class="BuddieImg border-radius img-responsive">
            </div>
            <!-- End BuddieImg -->

            <h2>Alice Pierce</h2>
            <h3>Maid of honor</h3>

          </div>
          <!-- End Buddie -->

          <!-- Start Buddie -->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Buddie">
            <!-- Start BuddieImg -->
            <div class="BuddieImgContainer">
              <img src="img/BuddieImg4.jpg" alt="" class="BuddieImg border-radius img-responsive">
            </div>
            <!-- End BuddieImg -->

            <h2>Cheryl Bates</h2>
            <h3>Sister</h3>

          </div>
          <!-- End Buddie -->
        </div>
        <!-- End Buddies -->
      </div>
      <!-- End BuddiesContainer -->
    </div>
    <!--End Row -->
  </div>
  <!--End Container -->
</article>
<!-- End Profile -->