<!--Start ScheduleWrap-->
<article class="ScheduleWrap">
  <!--Start ScheduleBg-->
  <div class="ScheduleBg"></div>
  <!--End ScheduleBg-->
  <!--Start Container-->
  <div class="container">
    <!--Start row-->
    <div class="row clearfix">

      <!--Start ScheduleItem-->
      <div class="Schedule-Item col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <!--Start ScheduleHeading-->
        <h2>Main<br />Ceremony</h2>
        <!--End ScheduleHeading-->

        <!--Start Schedule-Item-Inner1-->
        <div class="Schedule-Item-Inner1">

          <!--Start ScheduleContent-->
          <div class="ScheduleContent col-centered">

            <h3>Date</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">31st January, 2016</div>
            <!--End ScheduleText-->

            <h3>Schedule</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">from 10:00 AM</div>
            <!--End ScheduleText-->

            <h3>Venue</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">St Augustine's Episcopal Church <br/> New York</div>
            <!--End ScheduleText-->

            <div class="clearfix"></div>

            <!--Start ScheduleBtm-->
            <div class="ScheduleBtm clearfix">
              <a href="main-ceremony.html" class="btn btn-default btn-lg DetailsBtn">Details</a>
            </div>
            <!--End ScheduleBtm-->

          </div>
          <!--End ScheduleContent-->
        </div>
        <!--End Schedule-Item-Inner1-->

      </div>
      <!--End Schedule-Item-->


      <!--Start Schedule-Item-->
      <div class="Schedule-Item col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <h2>Wedding<br />Party</h2>

        <!--Start Schedule-Item-Inner2-->
        <div class="Schedule-Item-Inner2">

          <!--Start ScheduleContent-->
          <div class="ScheduleContent col-centered">

            <h3>Date</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">31st January, 2016</div>
            <!--End ScheduleText-->

            <h3>Schedule</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">from 08:00 PM</div>
            <!--End ScheduleText-->

            <h3>Venue</h3>
            <!--Start ScheduleText-->
            <div class="ScheduleText">St Augustine's Episcopal Church <br/> New York</div>
            <!--End ScheduleText-->

            <div class="clearfix"></div>

            <!--Start ScheduleBtm-->
            <div class="ScheduleBtm clearfix">
              <a href="wedding-party.html" class="btn btn-default btn-lg DetailsBtn">Details</a>
            </div>
            <!--End ScheduleBtm-->

          </div>
          <!--End ScheduleContent-->
        </div>
        <!--End Schedule-Item-Inner2-->

      </div>
      <!--End Schedule-Item-->

    </div>
    <!-- End row -->
  </div>
  <!--End Container -->
</article>
<!--End ScheduleWrap-->