<!-- Start OurStoryContainer -->
<article class="OurStoryContainer">

  <!--Start OurStoryBg-->
  <div class="OurStoryBg hidden-sm hidden-xs"></div>
  <!--End OurStoryBg-->

  <!--Start Container-->
  <div class="container">
    <div class="row clearfix">

      <!-- Start OurStoryText -->
      <div class="OurStoryImg col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <img src="img/OurStoryImg.jpg" alt="" data-no-retina class="OurStoryPic img-responsive">
      </div>
      <!-- End OurStoryImg -->

      <!-- Start OurStoryText -->
      <div class="OurStoryText col-lg-4 col-md-2 col-sm-12 col-xs-12">

        <h2>Our Story</h2>
        <h3>Journey of love</h3>
        <p>Follow us on the epic journey of <br/> our love that finally lead us <br/> towards marriage.</p>

        <!-- Start OurStory-Patterns-Img -->
        <div class="OurStory-Patterns-Img wow fadeInUp" data-wow-duration="3s"><i class="icon-pattern icon-pattern-color"></i>
        </div>
        <!-- End OurStory-Patterns-Img -->

        <a href="storypage.html" class="btn btn-default btn-lg OurStoryBtn">View  More</a>
        <!--End Button  OurStoryBtn-->
      </div>
      <!-- End OurStoryText -->
    </div>
    <!--End Row -->
  </div>
  <!--End Container -->
</article>
<!-- End OurStoryContainer -->