<!-- Start TopMenu -->
<div class="Navigation-menu">

  <nav class="wedding-menu wedding-menu-horizontal wedding-menu-top" id="slide-menu">
    <div class="wedding-menu-bg">
      <ul class="categories">
        <li class="menu-item"><a href="index.html">Home</a>
        </li>
        <li class="menu-item dropdown"><a class="is-active no-action" href="index.html">About</a>
          <ul class="submenu">
            <li><a href="About.html">Meet the Couple</a>
            </li>
            <li><a href="storypage.html">Our Story</a>
            </li>
          </ul>
        </li>

        <li class="menu-item dropdown"><a class="is-active no-action" href="index.html">Events</a>
          <ul class="submenu">
            <li><a href="main-ceremony.html">Main Ceremony</a>
            </li>
            <li><a href="wedding-party.html">Wedding party</a>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="Guestbook.html">Guestbook</a>
        </li>

        <li class="menu-item"><a href="Gallery.html">Gallery</a>
        </li>

        <li class="menu-item"><a href="contactus.html">Contact</a>
        </li>

      </ul>
    </div>
    <!-- End wedding-menu-bg -->
    <div class="Menu-CloseBrd"></div>
    <!-- End OpenBtnBrd -->
    <div id="close" class="Menu-Close">
      <img src="img/Menu-Close.png" alt="">
    </div>
    <!-- End Menu-Close -->
  </nav>

  <div class="SlideMenu"></div>
  <div id="open" class="OpenBtn">
    <img src="img/openBtn.png" alt="" id="open-menu-icon">
  </div>
  <!-- End OpenBtn -->

</div>
<!-- End TopMenu -->