<!DOCTYPE html>
<html>
<head>

  <!--Define Meta-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wedding</title>

  {% include styles.html %}

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="img/favicon.gif"/>

  <!--Load Scripts-->
  <script src="js/modernizr.custom.63321.js"></script>
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>